body{
margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(214, 184, 15)
}
.navbar{
    height: 55px;
    margin-top: 0%;
    margin-bottom: 0px;
    background-color: rgb(11, 1, 1);
    display: flex; 
    color: white;
}

#current-date{
    margin-left: auto;
    margin-top: 18px;
    margin-right: 16px;
    font-family: cursive;
    font-size: 14px;
}

.home-icon{
   background-color: white;
    height: 22px;
    margin-left: auto;
    margin-top: 16px;
    margin-right: 16px;
    
}
.logo{
    height: 65px;
    max-width: 120px;
}
h1{
    text-align: center;
    font-family: cursive;
    margin-top: 4px;
    margin-bottom: -10px;
}

h2{
    text-align: center;
    font-family: cursive;
    margin-top: 4px;
    margin-bottom: -10px;
    font-size: small
}

main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h3{
    font-family: cursive;
    margin-top: 1px;
    margin-bottom: 1px;
}
audio{
    margin-top: 10px;
    outline: none;
}
footer{
    margin-top: 30px;
    text-align: center;
    font-family: cursive;
    font-size: 12px;
    margin-bottom: 10px;
}

textarea {
  width: 80%;
  min-height: 120px;
  margin: 10px 0 20px;
  padding: 12px;
  font-family: cursive;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  resize: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.save-btn{
    background-color: rgb(11, 1, 1);
    color: rgb(214, 184, 15);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 22px;
}
.reset-btn{
    background-color: rgb(255, 255, 255, 0.7);
    color: rgb(19, 16, 0);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 22px;
}
.pagesignature{
    text-align: right;
    font-family: cursive;
    font-size: 10px;
    color: rgb(11, 1, 1);
    margin-bottom: 10px;
}
.history {
  margin: 20px;
  font-family: cursive;
}

#history-list {
  list-style: none;
  padding: 0;
}

#history-list li {
  background: rgb(11, 1, 1);
  color: rgb(214, 184, 15);
  margin: 6px 0;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

#history-list li:hover {
  opacity: 0.85;
}
